body {
  background-color: whitesmoke;
}

.centered {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}
.main-div {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 70%;
  margin: auto;
  justify-content: center;
  border-radius: 25px;
  height: 800px;
  margin-top: 80px;
  min-width: 320px;
  background: rgb(18, 27, 34);
  background: linear-gradient(
    320deg,
    rgba(18, 27, 34, 1) 0%,
    rgba(32, 66, 84, 1) 35%,
    rgba(185, 74, 62, 1) 100%
  );
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
  height: 120px;

  border-radius: 0 0 15px 15px;
}
.coin-options {
  width: 8%;
  height: 2rem;
  padding: 10px;
  margin: 3px 0 0 0;

  cursor: pointer;
  font-size: 8px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
}

.coin-options h1 {
  color: white;
}

.coin-options:hover {
  font-size: 10px;
}

.coin-img {
  width: 5rem;
  height: 5rem;
}

.info-box {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: white;
}

input {
  border-radius: 15px;
  padding: 3px 15px;
  border: 0;
  outline: 0;
  width: 20%;
  background-color: whitesmoke;
}

button {
  border-radius: 15px;
  background-color: black;
  color: white;
  cursor: pointer;
}

#calculate-div {
  padding: 1rem;
}

#calculate-box {
  margin-top: 60px;
}
label {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

#result-message {
  position: absolute;
  width: 20%;
  left: 40%;
  margin: auto;
  border-radius: 15px;
}
#result-message p {
  font-size: 15px;
}

.tweet-box {
  width: 20%;
  margin: auto;
  border-radius: 15px;
  min-width: 300px;
  height: 500px;
}

#twitter-box-id {
  height: 500px;
}
.chart-box {
  height: 50px;
  width: 50px;
}

.welcomeDiv {
  background-color: pink;
  width: 500px;
  height: 500px;
}

.main-container {
  width: 70%;
  margin: auto;
  text-align: center;
  height: 800px;
  margin-top: 80px;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 400px;
  padding: 15px;
  background: rgb(18, 27, 34);
  background: linear-gradient(
    320deg,
    rgba(18, 27, 34, 1) 0%,
    rgba(32, 66, 84, 1) 35%,
    rgba(185, 74, 62, 1) 100%
  );
}

form {
  text-align: center;
  margin: 15px;
  padding: 15px;
}

.login-form {
  margin-bottom: 25px;
}
#Sign-up-btn {
  margin-right: 10px;
}
.sign-btn {
  width: 35%;
  height: 40%;
  margin: 5px 10px;
  min-width: 65px;
}

.formDiv {
  margin: 10px auto;
  padding: 10px;
}

.welcomeContent {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 60%;
}
.welcomeContent h1 {
  color: white;
}

.sign-div {
  margin: auto;
  margin-top: 35px;
  width: 30%;
  height: 80px;
}

#mail {
  width: 35%;
}
#pw {
  width: 35%;
}

.invalid-msg {
  width: 100%;

  color: white;
}

.user-info-box {
  width: 14%;
  position: absolute;
  right: 0%;
  top: 2%;
  text-align: center;
  border-radius: 25px 0 0 25px;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  background: rgb(18, 27, 34);
  background: linear-gradient(
    320deg,
    rgba(18, 27, 34, 1) 0%,
    rgba(32, 66, 84, 1) 35%,
    rgba(185, 74, 62, 1) 100%
  );
  color: white;
}
